@model IEnumerable<BookListMVC.Models.DevicePin>

@{
    ViewData["Title"] = "Index";
}

    <h1 class="text-info">Device Pins</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PIN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.chipId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-controller="Variables" asp-action="Details" asp-route-id="@item.chipId"> @Html.DisplayFor(modelItem => item.PIN)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.chipId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PinId"><i style="margin-right : 5px" class="text-info fas fa-pen fa-lg"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.PinId"><i style="margin-left : 5px" class="text-danger fas fa-trash fa-lg"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
