@model IEnumerable<BookListMVC.Models.DevicePin>

@{ ViewData["Title"] = "Index"; }


<!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        @*<h1 class="h3 mb-2 text-gray-800 text-info">Device Pins</h1>

        <p class="mb-4">
            <a asp-action="Create">Create New</a>
        </p>*@
        <div class="row">
            <div class="col-6">
                <h2 class="h3 mb-2 text-gray-800 text-info">Device Pins </h2>
            </div>
            <div class="col-6 text-right">
                <a class="btn btn-primary text-white"  asp-action="Create"><i class="fas fa-plus"></i> &nbsp; Create New  </a>
            </div>
        </div>
        @*<h1 class="h3 mb-2 text-gray-800">Tables</h1>
        <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p>*@

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">DataTables</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.PIN)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Description)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.chipId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PinType)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CreatedDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UpdatedDate)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <a asp-controller="Variables" asp-action="Index" asp-route-id="@item.PinId"> @Html.DisplayFor(modelItem => item.PIN)</a>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.chipId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PinType)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CreatedDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UpdatedDate)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.PinId"><i style="margin-right : 5px" class="text-info fas fa-pen fa-lg"></i></a> |
                                        <a onclick='Delete("/DevicePins/Delete/@item.PinId" ,false)'><i style="margin-left : 5px" class="text-danger fas fa-trash fa-lg"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
@section Scripts{
    <script src="~/js/toatr.js"></script>
    <script src="~/js/demo/datatables-demo.js"></script>
}