@model IEnumerable<SmartWatering.Models.ViewModels.VariableValueView>


@{
    ViewData["Title"] = "Details";
}

<h1 class="text-info">Variable Values</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VariableName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PIN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChipId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VariableName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PIN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChipId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.VariableValueId"><i class="text-danger fas fa-trash fa-lg"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>


@*<div>
        <h4>VariableValue</h4>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Value)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Value)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.VariableId)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.VariableId)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.CreatedDate)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.CreatedDate)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.VariableValueId">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>*@
