@model IEnumerable<BookListMVC.Models.Device>
@{
    ViewData["Title"] = "OverView";
}
<link href="~/css/thingspeak.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <div class="col-6">
            <h2 class="h3 mb-2 text-gray-800 text-info">List of devices </h2>
        </div>
        <div class="col-6 text-right">
            <a class="btn btn-primary text-white" asp-controller="Devices" asp-action="Create"><i class="fas fa-plus"></i> &nbsp; Create New Device </a>
        </div>
    </div>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="panel panel-primary">
                    <div class="panel-heading ellipsis">
                        <a asp-controller="DevicePins" asp-action="Index" asp-route-id="@item.ChipId"> <i class="fa fa-chart-bar"></i>    </a>


                        <a asp-controller="DevicePins" asp-action="Index" asp-route-id="@item.ChipId"> @Html.DisplayFor(modelItem => item.ChipId)</a>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6 col-xs-6">Chip Id:</div>
                            <div class="col-sm-6 col-xs-6"><b>@item.ChipId</b></div>
                        </div>
                        <div class="row ">
                            <div class="col-sm-6 col-xs-6">Description:</div>
                            <div class="col-sm-6 col-xs-6"><b>@item.Description</b></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-xs-6">ReadAPIKey:</div>
                            <div class="col-sm-6 col-xs-6"><b>@item.ReadAPIKey</b></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-xs-6">WriteAPIKey:</div>
                            <div class="col-sm-6 col-xs-6"><b>@item.WriteAPIKey</b></div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

