@model SmartWatering.Models.Schedule

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Schedule</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.intervalType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.intervalType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Interval)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Interval)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Device)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Device)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PIN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PIN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Variable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Variable)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
